@import './base.css';

/* MAIN SECTION */
.main {
    background-color: var(--bg-light-gray);
}

/* CLASSES - REUSED */
.button-style-1 {
    padding: .85em .6em;
    margin-left: 1em;
    border: 2px solid var(--dark-gray-purple);
    color: var(--dark-gray-purple);
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    transition: all 0.15s ease-in;
    border-radius: 5px;
}

.button-style-1:hover {
    background-color: var(--dark-gray-purple);
    color: white;
    border: 2px solid var(--gray-purple);
}

.input-style-1 {
    padding: .5em;
    border-radius: 5px;
    border: 2px solid var(--dark-gray-purple);
    color: var(--dark-gray-purple);
}

/* HEADER SECTION */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background-color: inherit;
    border: none;
}

.header-h1-location-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-h1-location-container h1 {
    padding-right: 1em;
    font-size: 50px;
    color: var(--gray-purple);
}

.header-h1-location-container label {
    padding-right: 1em;
}

/* MAIN */
.main {
    width: 90vw;
    margin: 0 auto;
}

/* CALENDAR SECTION */
.section-calendar {
    width: 90vw;
    height: 60vh;
    margin: 0 auto;
    background-color: var(--light-gray-purple);
    padding: 2em;
    border-radius: 10px;
}

.section-calendar {
    width: 99%;
    display: flex;
    text-align: center;
    overflow: auto;
    margin: 0 auto;
}

.section-calendar div.calendar-item {
    flex-grow: 1;
    min-width: 8em;
    max-width: 12.5em;
    padding: .25em 1em 1em;
    border: 2.5px solid var(--dark-gray-purple);
    background-color: white;
    border-radius: 5px;
    border-top: 5px solid var(--dark-gray-purple);
    margin: 1em;
}

.section-calendar div.calendar-item h3 {
    padding: .5em .5em;
    color: var(--gray-purple);
}

.section-calendar div.calendar-item ul {
    padding: .5em;
}

.section-calendar ul li {
    text-align: center;
    list-style: none;
    padding: .65em;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: bisque;
    border-radius: 5px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
}

    /* CALENDAR POPUPS */
.section-popup-add-task {
    position: absolute;
    width: 500px;
    top: 40%;
    left: 40%;
    background-color: white;
    padding: 1em;
    border: 5px solid var(--dark-gray-purple);
    border-radius: 10px;
    text-align: left;
}

.section-popup-add-task h2 {
    color: var(--gray-purple);
    padding-bottom: .5em;
}

.section-popup-add-task form {
    text-align: left;
}

.section-popup-add-task label {
    font-weight: 500;
    display: inline-block;
    width: 50px;
    margin-right: 1.5em;
    margin-bottom: .5em;
}

.section-popup-add-task input {
    margin-left: 2.5em;
    width: 20em;
    padding: .25em;
    margin-bottom: .5em;
    border: 1px solid var(--dark-gray-purple);
    border-radius: 3px;
}

.section-popup-add-task button {
    padding: 1em;
    width: 5em;
    margin: 1em auto;
}

.div-task-item-popup {
    position: absolute;
    width: 15em;
    height: 10em;
    padding: .2em;
    background-color: blanchedalmond;
    border: 3.5px solid var(--dark-gray-purple);
    border-radius: 5px;
    z-index: 999;
}

.div-task-item-popup button, .div-task-item-popup h3, .div-task-item-popup p {
    position: inherit;
    z-index: inherit;
}

.div-task-item-popup button:first-of-type {
    top: 2%;
    left: 2%;
    padding: .8em;
    margin: 0;
}

.div-task-item-popup button:last-of-type {
    top: 2%;
    right: 2%;
    padding: .25em .5em;
    margin: 0;
}

.div-task-item-popup h3 {
    top: 25%;
    left: 1%;
    font-size: 20px;
}

.div-task-item-popup p {
    top: 45%;
    left: 5%;
    max-width: 13em;
    text-wrap: wrap;
    word-break: break-all;
}